<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/TatCaThuocTinhTrangChu/css/flexslider.css" rel="stylesheet" />
    <link href="~/TatCaThuocTinhTrangChu/css/responsiveslides.css" rel="stylesheet" />
    <link href="~/TatCaThuocTinhTrangChu/css/style.css" rel="stylesheet" />
    <link href="~/TatCaThuocTinhTrangChu/css/style1.css" rel="stylesheet" />
    <link href="~/TatCaThuocTinhTrangChu/css/style2.css" rel="stylesheet" />
   


    <script src="~/TatCaThuocTinhTrangChu/js/imagezoom.js"></script>
    <script src="~/TatCaThuocTinhTrangChu/js/jquery.flexslider.js"></script>
    <script src="~/TatCaThuocTinhTrangChu/js/jquery.livequery.js"></script>
    <script src="~/TatCaThuocTinhTrangChu/js/jquery.min.js"></script>
    <script src="~/TatCaThuocTinhTrangChu/js/responsiveslides.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
